.mass {
  fill: #4477AA;
  stroke: #224477;
  stroke-width: 2;
}

.spring {
  stroke: #000;
  stroke-width: 2;
}

.controls {
  margin: 20px;
}

.controls button, 
.controls select {
  margin: 5px;
  padding: 5px;
}